<%- include('../../layout/head.ejs') %>

    <body>
        <%- include('../../layout/header.ejs') %>
        <legend class="header"><a href="/">Go back home</a></legend>
        <ul id='book-details'>
            <% for(let i=0; i < results.length; i++){ %>
                <li>
                    <img src="<%= results[i].img_url %>"></img>
                    <h3>
                        <%= results[i].title %>
                    </h3>
                    <h4>
                        <%= results[i].author %>
                    </h4>
                    <p>
                        <%= results[i].description %>
                    </p>
                    <p>isbn: <%= results[i].isbn %>
                    </p>
                    <button onclick="showUpdate()">Update book</button>
                    <form action='/books/<%= results[i].id%>?_method=delete' method='POST'>
                        <button type="submit">Delete book</button>
                    </form>

                </li>
                <% } %>
        </ul>
        <ul id='update-form' style="display: none">
            <%- include('edit.ejs') %>
        </ul>
        <%- include('../../layout/footer.ejs') %>
    </body>

    </html>