<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <title>detail page</title>
</head>
<body>
    <nav>
        <h1><a href="/">Best Books!</a></h1>
        <h2>detail page</h2>
    </nav>
    <legend class="header"><a href="/">Go back home</a></legend>
    <ul id='book-details'>
        <% for(let i = 0; i < results.length; i++){ %>
            <li>
                <img src="<%= results[i].img_url %>"></img>
                <h3><%= results[i].title %></h3>
                <h4><%= results[i].author %></h4>
                <p><%= results[i].description %></p>
                <p>isbn: <%= results[i].isbn %></p>
                <!-- <form onsubmit="showUpdate()">
                    <input id='update' type='submit' value='update'>               
                </form> -->
                <button onclick="showUpdate()">Update</button>
            </li>
        <% } %>
    </ul>
    <ul id='update-form' style="display: none">
        <%- include('edit.ejs') %>
    </ul>

    <script>
    function showUpdate() {
        document.getElementById('book-details').style.display='none';
        document.getElementById('update-form').style.display='block';
    }
    </script>

</body>
</html>