
        <% for(let i = 0; i < results.length; i++){ %>
          <form action='/books/<%= results[i].id%>?_method=put' method='POST'>
                <input type='text' value='<%= results[i].title %>'></input>
                <input type='text' value='<%= results[i].author %>'></input>
                <input type='text' value='<%= results[i].description %>'></input>
                <input type='text' value='<%= results[i].isbn %>'></input>
                <input type='text' value='<%= results[i].img_url%>'><input>                          
                    <input type='submit' value='update'>               
                </form>
        <% } %>

