<%- include('../layout/head.ejs') %>

    <body>
        <%- include('../layout/header.ejs') %>
        <div class="header">
            <a href="/searches/new">Search for books</a>
            <p><%= results.length %> saved books</p>
        </div>
        <ul>
            <% for(let i=0; i < results.length; i++){ %>
                <li>
                    <img src="<%= results[i].img_url %>"></img>
                    <h3>
                        <%= results[i].title %>
                    </h3>
                    <h4>
                        <%= results[i].author %>
                    </h4>
                    <form action="/books/<%= results[i].id %>" method="GET">
                        <input type="submit" value="details">
                    </form>
                </li>
                <% } %>
        </ul>
        <%- include('../layout/footer.ejs') %>
    </body>

    </html>