<%- include('../layout/head.ejs') %>

    <body>
        <%- include('../layout/header.ejs') %>
        <legend class="header"><a href="/searches/new">Go make a search</a></legend>
        <h2>there are currently <%= results.length %> books in the database</h2>
        <ul>
            <% for(let i=0; i < results.length; i++){ %>
                <li>
                    <img src="<%= results[i].img_url %>"></img>
                    <h3>
                        <%= results[i].title %>
                    </h3>
                    <h4>
                        <%= results[i].author %>
                    </h4>
                    <p>
                        <%= results[i].description %>
                    </p>
                    <form action="/books/<%= results[i].id %>" method="GET">
                        <input type="submit" value="details">
                    </form>
                </li>
                <% } %>
        </ul>
        <%- include('../layout/footer.ejs') %>
    </body>

    </html>